DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
EMAILJS_TEMPLATE_ID=
# Connect each service to the exact Gmail account below.
EMAILJS_SERVICE_ID_NAUFAL=
# muhammadnaufalaufarifqi@gmail.com
EMAILJS_SERVICE_ID_ZIHRA=
# zihraangelina07@gmail.com
EMAILJS_SERVICE_ID_ADMIN=
# naufaldev001@gmail.com
